*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

:root{
    --main-color: rgb(198, 194, 194);
    --side-color: rgb(164, 164, 164);
}



body {
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    gap: 0.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu{
    height:100%;
    background-color: var(--side-color);
}

#canvas{
    height:100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolbox{
    border-radius:0.5em;
    background-color: white;
    padding: 0.5rem 0.2rem;
    display: flex;
    position: fixed;
    bottom: 2rem;
}

#toolbox > div{
background-color: skyblue;
display: flex;
align-content: center;
justify-content: center;
}

#toolbox > div > i{
font-size: 1.5rem;
}

#properties{
    height:100%;
    background-color: var(--side-color);
}